.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.profile-contain{
    display: flex;
    flex-direction: column;
    width:400px;
    height:400px;
    padding:20px;
    border-radius: 5px;
 border: 2px solid green;
}